.overview {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.overview__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overview__left {
  display: flex;
  flex-direction: column;
}

.overview__title {
  font-size: 24px;
  font-weight: 500;
}
.overview__description {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  font-weight: 300;
}

.overview__right {
  display: flex;
  align-items: center;
}

.overview__body {
  margin-top: 30px;
  height: 480px;
  width: 100%;
  display: flex;
  align-items: center;
}
.overview__body__col.mr {
  margin-right: 20px;
}
.overview__body__col {
  background-color: #fff;
  padding: 10px 30px;
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.85);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.85);
}

.overview__body__head {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.overview__body__title {
  font-size: 22px;
  font-weight: 500;
}

.overview__body__left__btn {
  display: flex;
  align-items: center;
}
